<!doctype>
<html>
  <head>
    <title>RPSLS v2</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <script language="JavaScript" type="text/javascript" src='http://code.jquery.com/jquery-2.1.0.min.js'></script>
    <script language="JavaScript" type="text/javascript" src='../public/javascript/player.js'></script>
    <script language="JavaScript" type="text/javascript" src='../public/javascript/game.js'></script>
    <script language="JavaScript" type="text/javascript" src='../public/javascript/jquery.js'></script>
  </head>

<body>
  <header>
    <div id="logo">
      Rock, Paper, Scissors v2
    </div>
  </header>

  <center><h1>Archer Balotelli Birdseye Brown Mr Motivator</h1><center>

  <center><div id='choices'>
    <img class="item" src="../public/pics/1.jpg" data-pick="Jeffrey Archer">
    <img class="item" src="../public/pics/2.jpg" data-pick="Mario Balotelli">
    <img class="item" src="../public/pics/3.jpg" data-pick="Captain Birdseye">
    <img class="item" src="../public/pics/4.jpg" data-pick="James Brown">
    <img class="item" src="../public/pics/5.jpg" data-pick="Mr Motivator">
  </div></center>
    
  <center><div id="players"><h1></h1></div></center>
  <center><ul id="results"></ul></center>

</body>
</html>