.menu ul { display: none;
    list-style-type: none;
 } /* Hide before plugin loads */
.menu ul.dropit-submenu {
    padding: 6px 0;
    margin: 3px 0 0 1px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    list-style-type: none;
}          
.menu ul.dropit-submenu a {
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
    list-style-type: none;
}
.menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}


    


